.sub{
	float: left;
	width: 529px;
	height:auto;
	display:block;
	padding-right:20px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #79a33b;
}

.sub li{
	margin-bottom:20px;
	border-bottom-width: 2px;
	border-bottom-style: dotted;
	border-bottom-color: #C69866;
	padding-bottom:10px;
	display:block;
}

h1{
	color: #79a33b;
	font-size: 1.8em;
	border-bottom-width: 4px;
	border-bottom-style: double;
	border-bottom-color: #79a33b;
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
	text-decoration:none;
	padding:0px;
	line-height: 1.1em;
}

.sub h1 a{text-decoration:none;}
.sub h2 a{text-decoration:none;}

.sub img {float:left; margin-right:10px; margin-top:10px;}

.sub div {width: 525px; overflow:hidden;}

.sub .date{
	color: #79a33b;
	padding-bottom: 10px;
	display:block;
	font-weight: bold;
	}


.more-link {
	color: #79a33b;
	text-decoration: none !important;
	font-weight: bold;
}

.more-link:hover {
	color: #333;
}

.enter_now {
	background-image: url(../images/enter_now.png);
	background-repeat: no-repeat;
	background-position: left top;
	display:block;
	width:73px;
	height:18px;
	text-indent:-9999px;
	}

.sidebar {
	display: block;
	float: left;
	width: 129px;
	padding-left:20px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #79a33b;
	margin-left:-1px;
}

.sidebar li{margin-bottom:10px;}

.sidebar li a{
	color: #584932;
	font-size:14px;
	text-decoration:none;
	}
	
.sidebar li a:hover{
	color: #000;
	}

#sidebar li.collapsing.archives a {
            display:block;
            text-decoration:none;
            margin:0;
            padding:0;
            }
#sidebar li.collapsing.archives a:hover {
            text-decoration:none;
          }
#sidebar span.collapsing.archives {
        border:0;
        padding:0; 
        margin:0; 
}


#sidebar ul.collapsing.archives.list ul.collapsing.archives.list:before, 
  #sidebar ul.collapsing.archives.list li.collapsing.archives:before,
  #sidebar ul.collapsing.archives.list li.collapsing.archives.item:before {
        content:'';
		cursor:pointer;
  } 

.sym {
cursor:pointer;
font-size:.8em;
padding:2px;
margin-right:5px;
}

.sym:hover{
		background-color: #333;
		color:#FFF;
}

.collapsing .archives .collapse {margin-left:10px; margin-top:10px;}
.collapsing .archives .expand {margin-left:10px; margin-top:10px;}
.collapsing .archives .item {
	margin-left:20px;
	margin-top:10px;
	font-size:12px;
}

